<p-table [value]="roles">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre del Rol</th>
            <th>Usuarios Asignados</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
        <tr>
            <td>{{ role?.rolesId?.name }}</td>
            <td>

                {{ role?.userId?.username }}

            </td>
            <td>
                <!-- Agrega tus botones y acciones aquí según sea necesario -->
                <button pButton pRipple icon="pi pi-sync" class="boton"></button>
                <button pButton pRipple icon="pi pi-eraser" class="boton"></button>
            </td>
        </tr>
    </ng-template>
</p-table>