<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
  <div class="card flex justify-content-center">
    <span class="p-float-label">
      <input pInputText id="name" formControlName="name" [ngClass]="{'input-focused': true}" />
      <label htmlFor="name">Nombre del Rol</label>
    </span>
  </div>
  <div class="card flex justify-content-center mt-3">
    <button pButton pRipple type="submit" icon="pi pi-check" label="Guardar cambios"
      style="background: linear-gradient(to right, #FF4B2B, #FF416C); border-color: #FF416C;"></button>
  </div>
</form>
<p-toast></p-toast>